form(class="filter hidden" id="filter" method="post" action="#")
  .col-md-2
    .input-field.filter__activateBtn
      input(type="checkbox").filled-in#activateFilter
      label(for="activateFilter") Use filter
  .col-md-8
    .input-field.filter__inputField_hiddenOnUnactive
      select(multiple)
        option(value="All Types" disabled selected) Choose types
        option(value='Poison') Poison
        option(value='Water') Water
        option(value='Fire') Fire
        option(value='Wind') Wind
  .col-md-2
    .input-field.filter__inputField_hiddenOnUnactive
      button.btn.waves-effect.waves-light(type='submit' name='submitFilter') Filter cards
