a(href="#")
  .mdl-card.mdl-shadow--4dp.mdl-card_sized
    .mdl-card__media.mdl-card__media_background-white
      img.card_image(src='../img/img_small_id=3.png')
    .mdl-card__title.mdl-card__title_centered
      h2.mdl-card__title-text Bulbazavr
    .card_labels
      .chip.chip_padded Poison
      .chip.chip_padded Water
      
